Makefile
Makefile.in
aclocal.m4
autom4te.cache
autotools
config.h
config.hin
config.log
config.status
configure
pkg/config.make
src/resource.rc
src/sopwith
src/sopwith.exe
.deps
*.a
*.o
*~
*.orig
*.rej
*.wasm
stamp-h1
tags
TAGS
emscripten_cache

# DOS/Corona build products
dos-corona/*.[Oo][Bb][Jj]
dos-corona/*.[Mm][Aa][Pp]
dos-corona/*.[Ll][Ss][Tt]
dos-corona/*.[Ee][Rr][Rr]
dos-corona/SOPWITH.EXE
dos-corona/sopwith.exe
